<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="hibernate.connection.username">erik</property>

		<property name="hibernate.connection.password">AlgonquinCollege2015</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sprite</property>

		<property name="hibernate.current_session_context_class">thread</property>


	</session-factory>
</hibernate-configuration>